# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development settings
instance/
.webassets-cache

# Model files (if they're too large for GitHub)
# model/*.keras
